@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
}

#header{
    display: flex;
    flex-direction: column;
    color: #000;
    font-weight: 800;
    align-items: center;
    padding: 70px 0;
}

#header-container{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

#title{
    font-weight: 700;
    font-size: 2em;
}

#version{
    font-weight: 700;
    font-size: 0.6em;
    margin-top: -5px;
}

#container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#menu-button{
    padding: 15px 113px;
    font-size: 12px;
    border: 0.5px solid #229977;
    margin-bottom: 20px;
}

#menu-button a{
    text-decoration: none;
    color: #229977;
}

#menu-button:hover{
    cursor: pointer;
}

#menu-button:active{
    background-color: #229977;
}

#menu-button:active a{
    color: #fff;;
}

#recommended{
    font-size: 6px;
    padding: 30px 20px;
    border: 0.5px solid #000;
    display: inline-block;
}

#recommended h1, a{
    font-weight: 600;
}

#recommended > div{
    display: inline-block;
}

#recommend-title{
    font-size: 6px;
    font-weight: 500;
    padding: 0px 20px;
    position: relative;
    color: #000;
}

#recommended-files{
    text-decoration: none;
    color: #229977;
    font-weight: 600;
    font-size: 12px;
}

#title-container{
    text-align: right;
    margin-right: 10px;
}

#android-version-title{
    margin-bottom: 10px;
}

#android-version{
    margin-bottom: 10px;
}

#manual-select{
    margin-top: 50px;
    position: relative; 
}

#version-selector{
    border: 0.5px solid #000;
    font-weight: 600;
    padding: 20px 59px;
    background-color: #fff;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}

#version-selector:focus{
    outline: 0;
}

#version-selector:hover{
    background-color: #F6F7F9;
}

#version-selector:focus{
    color: #229977;
    background-color: #F6F7F9;
}

#chevron-down-icon{
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 3px;
}

#dropdown-container{
    display: none;
    position: absolute;
    background-color: #F6F7F9;
    z-index: 1;
    overflow: auto;
    max-height: 180px;
}

#dropdown-container a{
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 12px;
    font-weight: 600;
    padding: 20px 67px;
    text-align: center;
}

.dropdown-container-show{
    display: block !important;
}

::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   

::-webkit-scrollbar-thumb {
    background: #888; 
}
  

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

#other-files{
    margin-top: 50px;
}

#other{
    padding: 18px 16px;
    border: 0.5px solid #000;
    display: inline-block;
}

#other a{
    text-decoration: none;
    color: #000;
    font-size: 10px;
    font-weight: 600;
    display: inline;
}

#other a:active{
    color: #229977;
}   

#other-launchers{
    margin: 0 15px;
}

#other-title{
    font-size: 6px;
    font-weight: 500;
    padding: 0px 20px;
    position: relative;
    color: #000;
}

#footer{
    margin: 80px 0 20px 0;
}

#copyright{
    font-size: 8px;
    font-weight: 700;
}

#footer-desktop{
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    display: none;
}

#copyright-desktop{
    font-size: 12px;
    font-weight: 700;
}


#js-link{
    text-decoration: none;
    width: 260px;
    display: block;
    background-color: #229977;
    padding: 20px 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 12px;
    color: #fff;
}

#js-link:hover{
    background-color: #229977;
}

#menu-container{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

#menu-container ul{
    list-style: none;
}

#menu-container li{
    margin: 60px 0;
}

#menu-container a{
    text-decoration: none;
    color: #000;
}

#menu-container a:hover{
    color: #229977;
    cursor: pointer;
}

#menu-item-home{
    color: #229977 !important;
}

#menu-item-home:hover{
    color: #000 !important;
}





















@media only screen and (min-width: 1024px){
    #section-1, #section-2{
        height:100vh;
        width: 50%;
        position: fixed;
        z-index: 1;
        top: 0;
    }

    #section-1{
        left: 0;
    }

    #section-2{
        right: 0;
    }

    #header{
        margin-top: 25vh;
        padding: 0;
    }

    #title{
        font-size: 3.5em;
    }
    
    #version{
        font-weight: 700;
        font-size: 1.2em;
        margin-top: -10px;
    }
    

    #container{
        height: 100vh;
        padding: 0;
    }

    #footer{
        display: none;
    }

    #footer-desktop{
        display: block;
    }

    #menu-container a{
        transition: 0.2s ease-in-out;
    }

    #menu-container a:hover{
        font-size: 40px;
    }

}

@media only screen and (min-width: 600px) {

    #menu-button{
        padding: 20px 196px;
        font-size: 16px;
        border: 0.5px solid #229977;
        margin-bottom: 20px;
    }

    #title{
        font-size: 3.5em;
    }

    #version{
        font-size: 1.2em;
        margin-top: -10px;
    }
    
    #recommended{
        font-size: 8px;
        padding: 30px 71px;
     }

     #recommend-title{
        font-size: 12px;
        margin-left: -20px;
    }

    #recommended-files{
        font-size: 15px;
    }

    #title-container{
        margin-right: 20px;
    }  

    #android-version-title{
        margin-bottom: 20px;
    }
    
    #android-version{
        margin-bottom: 20px;
    }

    #version-selector{
        padding: 20px 119px;
        font-size: 16px;
    }

    #chevron-down-icon{
        width: 15px;
        height: 15px;
        margin-left: 10px;
    }

    #dropdown-container a{
        font-size: 16px;
        padding: 20px 122px;
    }

    #other{
        padding: 18px 43px;
    }
    
    #other a{
        font-size: 14px;
     }

     #other-launchers{
        margin: 0 40px
    }

    #other-title{
        font-size: 12px;
        padding: 0px 20px;
        position: relative;
        margin-left: -20px;
    }

    #copyright{
        font-size: 12px;
    }

    #file-manager-container table, th, td{
        font-size: 15px;
    }

    #file-manager th{
        font-size: 12px;
    }

    #file-manager-redirect{
        padding: 15px 120px 15px 20px;
    }
    
    #file-manager-title{
        padding: 15px 20px 15px 120px;
    }

    #js-link{
        text-decoration: none;
        width: 437px;
        font-size: 16px;
        color: #fff;
    }
}